<table class="table">
  <thead>
    <tr>
      <th>Mã phim</th>
      <th>Tên phim</th>
      <th>Ngày khởi chiếu</th>
      <th>Hình ảnh</th>
    </tr>
  </thead>
  <tbody *ngIf="movieList">
    <tr *ngFor="let movie of movieList">
      <td scope="row">{{ movie.maPhim }}</td>
      <td>{{ movie.tenPhim }}</td>
      <td>{{ movie.ngayKhoiChieu }}</td>
      <td><img [src]="movie.hinhAnh" width="40px" height="40px" /></td>
    </tr>
  </tbody>
</table>
<mat-paginator
  [length]="totalCount"
  [pageSize]="pageSize"
  (page)="changePage($event)"
>
</mat-paginator>
<!-- <nav aria-label="Page navigation">
  <ul class="pagination">
    <li class="page-item" [class]="{ disabled: currentPage === 1 }">
      <a
        class="page-link"
        routerLink="/admin/movie"
        [queryParams]="{ page: currentPage - 1 }"
      >
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <li
      class="page-item"
      *ngFor="let page of [].constructor(totalPage); let index = index"
      [class]="{ active: index + 1 === currentPage }"
    >
      <a
        class="page-link"
        routerLink="/admin/movie"
        [queryParams]="{ page: index + 1 }"
        >{{ index + 1 }}</a
      >
    </li>
    <li class="page-item"><a class="page-link" href="#"></a></li>
    <li class="page-item">
      <a
        class="page-link"
        routerLink="/admin/movie"
        [queryParams]="{ page: currentPage + 1 }"
        aria-label="Next"
      >
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav> -->
